#eachTodo{
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 1px solid; */
    /* Adjust other styles as needed */
  }
  #eachTodo:hover{
    background: rgb(16, 16, 16);
  }
  #dnud {
    transform: scale(1.5); /* Adjust the scale as needed */
    background-color: red;
    border: none;
    outline: none;
  }
  input[type=checkbox] {
    width: 15px;
    height: 20px;
  }
  
  .todo-title{
    border: 1px solid  blue;
    flex-basis: 60%;
    /* background: rgb(229, 4, 254); */
    border-radius: 6px;
    padding: 5px 0px;
    color: rgb(210, 208, 208);
    margin: 5px 12px  10px 20px;
    padding-left: 10px;
    flex: 1;
  }
  
  .todo-date {
    color: rgb(210, 208, 208);
    font-size: 14px;
    /* flex-basis: 16%; Set the base width for flex items */
    width: 70px;
    text-align: center;
    margin: 0px 30px 0px 30px;
    padding: 3px;
    outline: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
  }
  
  /* here desgining the icons through which manipulation of todo happen */
.manpTd{
  /* border: 1px solid; */
  width: 100px;
}
.manpTd i{
  margin: 0 8px;
  color: grey;
  cursor: pointer;
}

#del:hover{
 color: red;
}
#upd:hover{
  color: green;
}