.longPlansList{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.planlist{
  /* outline: 1px solid; */
  display: flex;
  align-items: center;
  width: 75rem;
  height: 25rem;
  overflow-x: scroll;
  gap: 90px;
}