#tasks{
    background-color: #080b0e;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    /* border: 2px solid; */
    padding: 30px;
  }
  .edit-form-container {
  
 }
 
 .edit-form {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 200px; */
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background to overlay on the entire screen */
  z-index: 9999; /* Ensures it appears above all other content */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
    background-color: rgb(48, 46, 46);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }
 
  .options-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background: rgb(35, 35, 35);
    /* border: 1px solid #7d7d7d; */
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .options-list li {
    padding: 8px 8px;
    /* border: 2px solid; */
    text-align: start;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .options-list li:hover {
    background: #323232;
  }
  
  .tasktable {
    margin-top: 30px;
    width: 98%;
    /* overflow-x: scroll; */
    /* width: 800px; */
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,th {
    /* padding: 8px 20px; */
    height: 50px;
    /* padding: 4px 3px; */
    padding-left: 10px;
    /* text-align: left; */
    border-bottom: 1px solid #343434;
    border-right: 1px solid #343434;
    font-size: 14px;
    color: rgb(218, 218, 218);
    white-space: nowrap;
    /* text-align: center; */
  }

  #taskM{
     display: flex;
     /* border: 2px solid; */
  }
  #taskM div{
    position: relative;
    right: 30px;
    opacity: 0;
    /* margin: 0px 2px; */
  }
  #hoverOp i:hover{
     color: white;
  }
  #taskM p{
     position: relative;
     right: 20px;
  }
  tr:hover #hoverOp{
    opacity: 1;
  }

  th :not(:last-child){
    border-right: none;
  }
  
  th {
    background-color: #3e3e3e;
    font-size: 14px;
    font-weight: 600;
    color: grey;
    padding-left: 4px;
  }
  
  /* Remove left border of the first column */
th:first-child, td:first-child {
    border-left: none;
  }
  
  /* Remove right border of the last column */
  th:last-child, td:last-child {
    border-right: none;
  }

   th i{
        color: rgb(152, 152, 152);
        margin-right: 9px;
   }
   td i{
    color: rgb(152, 152, 152);
    margin: 0px 5px;
   }

   tr:hover{
    cursor: pointer;
    background: rgb(20, 20, 20);
   }
#nwTask td{
    padding: 0;
}   

#open{ 
    opacity: 0;
    cursor: pointer;
    background: rgb(53, 43, 246);
    padding: 3px 4px;
    margin: 0px 3px;
    border-radius: 6px;
    font-size: 13px;
}   
tr:hover #open{
    opacity: 1;
}

 #status p{
    /* DEPENDS ON THE TYPE OF THE STATUS */
     margin: 0;
     padding: 1px;
     /* border: 2px solid; */
     background-color: green;
     border-radius: 10px;
     text-align: center;
   }
#priority p{
    /* border: 2px solid; */
    margin: 1px 4px;
    border-radius: 4px;
    text-align: center;
    background-color: red;
}

/* INPUTS OF THE LAST ROW */

td input,select{
    margin: 0;
    width:  170px;
    height: 40px;
    background: #080b0e;
    outline: none;
    border: none;
    padding-left: 10px;
    color: rgb(107, 107, 107);
    /* text-align: center; */
    /* margin: 0px 2px; */
    /* border: 2px solid; */
}
#crtBtn button{
    background: rgb(38, 129, 249);
    padding: 3px 5px;
    border-radius: 3px;
    border: none;
}

td.name input{
  min-width: 170px;
}
td.state select{
  min-width: 60px;
}
td.assignee input{
  min-width: 200px;
}
td.due input{
  width: 113px;
}
td.priority select{
  width: 110px;
}