#tasks{
    background-color: #080b0e;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border: 2px solid red;
    padding: 3px 10px 100px 100px;
    font-size: 14px;
    /* margin-left: 30px; */
  }
  .tasktable{
    overflow-x: scroll;
    padding: 10px 2px;
  
  }

 tr{
  cursor: pointer;
 }
 #hd{
  /* border: 2px solid; */
  padding-left: 5px;
  font-weight: 600;
  color: rgb(218, 218, 218);
 }
 #hd i{
  margin: 0px 8px;
  color: rgb(145, 145, 145);
 }
  /* GENERAL BLOCKS STYLE  */
  td,th{
    border: 1px solid rgb(72, 71, 71);
    font-size: 14px;
    padding: 7px 0px;
  }

  /* TASK MANIPULATION style */
#taskM{
  /* border: 2px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  display: flex;
  gap: 3px;
}
#taskM p{
  margin: 0;
  padding-left: 5px;
  font-weight: 600;
  color: rgb(126, 126, 126);
  /* font-size: 12px; */
   /* padding */
  /* border: 2px solid red; */
}

/* EDIT AND DELETE OPTIONS  STYLE */
#hovOp{
  display: none;
  position: relative;
  padding-right: 10px;
  /* border: 2px solid; */
}
#hovOp i{

   cursor: pointer;
  /* border: 2px solid; */
  background: rebeccapurple;
  border-radius: 5px;
  padding: 4px;
   /* color: red; */
}
#hovOp i:hover{
   background: rgb(81, 32, 130);
}
#hovOp i:active{
  background: rgb(49, 13, 84);
}
tr:hover #hovOp{
   display: block;
}

.options-list{
  position: absolute;
  top: 25px;
  right: -19px;
  z-index: 1;
  width: 140px;
  background: rgb(35, 35, 35);
  border-radius: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 6px 0px;
}
.options-list li{
  display: flex;
  align-items: center;
  height: 28px;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 5px;
  /* border: 2px solid; */
}
.options-list li:hover{
  background: black;
}
.options-list li i{
    /* border: 2px solid; */
    /* background: rgb(92, 92, 92) !important; */
    margin: 0px 5px;
    background: none !important;
    padding: 0;
}
#taskName{
  /* border: 2px solid; */
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

#taskName p{
  /* border: 1px solid red; */
   font-weight: 500;
   color: rgb(205, 205, 205);
   /* width: 280px; */
   /* overflow: hidden; */
   white-space: nowrap;
   margin: 0;
}
#taskName p i{
  cursor: pointer;
  padding: 2px 5px;
  color: green;
}

.opCl{
  font-size: 12px;
  font-weight: 500;
  background-color: rgba(39, 133, 12, 0.847);
  padding: 2px 5px;
  border-radius: 4px;
  margin-right: 8px;
  border: none;
  display: none;
}

#close{
  background-color: rgb(153, 100, 51);
  display: block;
}

.opCl:hover{
  display: block;
  background-color: rgba(30, 109, 9, 0.847);
}
#open:active{
 background-color: rgba(16, 74, 1, 0.847);;
}

tr:hover .opCl{
  display: block;
}

 .edit-form {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 200px; */
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background to overlay on the entire screen */
  z-index: 9999; /* Ensures it appears above all other content */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
    background-color: rgb(48, 46, 46);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }
 
 #status{
   width: 150px;
   padding-left: 5px;
  }
  #status p{
   /* outline: 1px solid; */
   border-radius: 15px;
   display: flex;
   padding: 2px 3px 2px 9px;
   align-items: center;
   margin: 0;
 }
 .not-State{
  background: #504d4d;
  width: 85%;
 }
 .p-State{
  background: green;
  width: 63%;
 }
 .prog-State{
  background: rgb(70, 62, 228);
  width: 85%;
 }
 .dot{
  margin-right: 5px;
  border-radius: 99px;
  height: 6px;
  width: 6px;
  background-color: white;
 }

#assignee{
  padding-left: 10px;
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}
#assignee p{
  color: rgba(255, 255, 255, 0.81);
  margin: 0px 5px;
}

#due{
  margin: 0;
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.81);

}
#priority{
  width: 120px;
  padding-left: 12px;
}
#priority p{
  margin: 0;
  text-align: center;
  border-radius: 2px;
  /* font-size: 13px; */
}
.Low{
 width: 40px;
 background-color: #0bad0b;
}
.High{
 width: 40px;
 background: rgb(226, 47, 47);
}
.Medium{
  width: 70px;
  background: rgb(180, 180, 45);
}

 /* // desriptio n? */
 #descp{
  width: 300px;
  color: rgba(208, 208, 208, 0.81);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 400;
  padding-left: 6px;
 }