.teamSidebar{
    height: 100vh;
    width: 280px;
    box-shadow: 0px 0px 7px rgba(93, 93, 93, 0.4);
    background-color: #3b3b3b !important;
    color: white;
}

#createProject{
    font-size: 16px;
    margin-left: 10px;
}

.clr{
   color: white;
}