
#todoContainer{
    border: 1px solid rgb(63, 63, 63);
    border-radius: 3px;
    height: 400px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 90%; */
}
.creation{
    /* border: 1px solid; */
    width: 80%;
    margin-top: 17px;
    /* text-align: center; */
    border-radius: 20px;
    /* text-align: center; */
    padding-left: 10px;
}
#td{
  border: 1px solid rgb(82, 82, 82);
  height: 37px;
  border-radius: 8px;
}
#du{
    border: 1px solid rgb(82, 82, 82);
    height: 33px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 7px;
    color: white;
    /* background-color: white; */
}
input[type="time"]::-webkit-calendar-picker-indicator {
     filter: invert(100%) brightness(100%) contrast(100%);
}
 
#crt{
    border: none;
    background-color: rgb(143, 0, 209);
    height: 30px;
    width: 60px;
    border-radius: 7px;
    margin-left: 130px;
    padding: 0px 0px 2px 0px;
}
#crt:hover{
    background-color: rgb(107, 1, 156);
}