.todoList{
  /* border: 2px solid; */
  margin-top: 10px;
  width: 90%;
  padding: 10px;
}
.labels{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 5px 0px;
  margin-bottom: 8px;
}
.labels h6{
  color: rgb(181, 181, 181);
  margin: 0;
}
.todos{
  /* border: 2px solid; */
  height: 40vh;
  overflow-y: auto;
}
#tk{
  position: relative;
  left: 40px;
}
#d{
  position: relative;
  left: 93px;
}
#ed{
  position: relative;
  right: 5px;
}